.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form {
        width: 30vw;
        padding: 2vh;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #78c2ff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;


    }
}