.grades-promotion-item {
    padding: 2vh;
    width: 80%;
    background-color: rgba(116, 192, 218, 0.5);
    margin: 3vh 0;
    border-radius: 5px;

    div {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}